# Screen
public net.minecraft.client.gui.screens.Screen f_96545_ # buttons

# RecipeManager
public net.minecraft.world.item.crafting.RecipeManager m_44054_(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Map; # byType

# Ingredient
public net.minecraft.item.crafting.Ingredient f_193370_ # values
public net.minecraft.item.crafting.Ingredient f_199807_ # values
public net.minecraft.item.crafting.Ingredient f_193371_ # values
public net.minecraft.item.crafting.Ingredient f_194140_ # values
